@import "tailwindcss";

:root {
  --green-btn: #4A6741;
  --green-btn-white: rgba(255, 255, 255, 0.10);
  --green-btn-hover: #394f32;
  --brown-btn: #8B5E3C;
  --brown-btn-hover: #61422a;
  --wheat: #F5F0E5;
  --gray: gray;
  --black: black;
  --white: white;
  --opacity-white: rgba(255, 255, 255, 0.2);
}

@theme inline {
  --color-background: var(--black);
  --color-foreground: var(--white);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--wheat);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-btn-green {
  @apply bg-[var(--green-btn)] py-3 px-6 rounded-lg text-[var(--white)] hover:bg-[var(--green-btn-hover)] transition-all duration-150
}

.custom-btn-brown {
  @apply bg-[var(--brown-btn)] py-3 px-6 rounded-lg bg-[var(--white)] hover:bg-[var(--brown-btn)] text-[var(--brown-btn)] hover:text-[var(--foreground)] transition-all duration-150
}

.small-green-text {
  @apply text-[var(--green-btn)] text-base
}

.podnadpis {
  @apply text-[var(--black)] text-4xl
}

.gray-text {
  @apply text-[var(--gray)] text-base 
}

.normalni-text {
  @apply text-[var(--black)] text-base
}

.menu-num {
  @apply w-6 h-6 flex text-xs justify-center items-center my-2 mx-0.5 text-[var(--black)] bg-[var(--wheat)] rounded-sm
}

.menu-nadpis {
  @apply text-xl text-[var(--black)]
}

.prostory-nadpis {
  @apply text-4xl text-[var(--white)]
}

.prostory-text {
  @apply text-base text-[var(--white)]
}

.kontaktujte-white {
  @apply text-xl text-[var(--white)]
}

.footer-nadpis {
  @apply text-2xl text-[var(--brown-btn)]
}

.footer-flex {
  @apply flex flex-row gap-3
}